#gameDiv{
	position:absolute
}
#chatFieldDiv{
	position:relative;
	top:537px;
	left:5px;
	width:500px;
	height:150px;
}
#globalChatField{
	width:500px;
	height:150px;
	list-style-type: none; 
	margin: 0; 
	padding: 0;
	background-color:#F4646;
}
ul {
	overflow-x: hidden;
	overflow-y:scroll;

}
ul li {
    word-break: break-all;
}
#globalChatField li { 
	padding: 5px 10px;
	background: #FFFCFC;
	list-style-position: outside; 
}
#globalChatField li:nth-child(odd) {
	background: #CFCACA;
	list-style-position: outside; 
}
#textInputField{
	position:relative;
	width:444px;
	height:22px;
	margin: 0 auto;
}

#registerFieldDiv{
	position:relative;
	width:171px;
	height:202px;
	top:200px;
	left:555px;
}
#emailInputField{
	position:relative;
	margin: 0 auto;
	width:165px;
	height:37px;
	font-size:17px;
}
#usernameInputField{
	position:relative;
	margin: 0 auto;
	width:165px;
	margin-top:15px;
	height:37px;
	font-size:17px;
}
#loginFieldDiv{
	position:relative;
	width:171px;
	height:86px;
	top:240px;
	left:555px;
}
#passwordInputField{
	position:relative;
	margin:  0 auto;
	margin-top:15px;
	width:165px;
	height:37px;
	font-size:17px;
}
#passwordInputFieldCopy{
	position:relative;
	margin:  0 auto;
	width:165px;
	height:37px;
	font-size:17px;
}